:root {
    /* Dimensiones */
    --gap-projects-list-sm: 24px;
    --gap-projects-list-md: 32px;
    --gap-projects-list-lg: 64px;

    /* Colores */
    --color-border-project-card: #09092D;

}

/* ───────────────────────────────
   Container proyectos
─────────────────────────────── */
#projects {
    /* Box model */
    max-width: clamp(736px, 100%, 2000px);
    width: 100%;
    padding: var(--padding-grid-block) 0;

    /* Posicionamiento */
    z-index: 1;
    position: relative;
}

.projects-container {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: clamp(576px, 85vw, 1200px);

    /* Box model */
    width: 100%;
    padding: var(--padding-item-block) var(--padding-item-inline);
    margin: 0 auto;
}

/* ───────────────────────────────
   Listado de proyectos
─────────────────────────────── */
.projects-list {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-projects-list-sm);

    /* Box model */
    width: 100%;
    padding-top: 42px;
    /* Espacio inicial */
    min-height: 200vh;
    /* Asegura espacio para scroll */

    /* Posicionamiento */
    position: relative;
}

/* ───────────────────────────────
   Apilamiento de tarjetas
─────────────────────────────── */
.projects-list .project-card:nth-child(1) {
    z-index: 1;
    top: 84px;
}

.projects-list .project-card:nth-child(2) {
    z-index: 2;
    top: 104px;
}

.projects-list .project-card:nth-child(3) {
    z-index: 3;
    top: 124px;
}

.projects-list .project-card:nth-child(4) {
    z-index: 4;
    top: 144px;
}


/* ───────────────────────────────
   Activación de tarjeta
─────────────────────────────── */
.project-card.active {
    /* Visual */
    border-color: var(--color-border-project-card);

    /* Efectos */
    transform: translateY(-20px);

    /* Posicionamiento */
    z-index: 10;

}

@media (min-width: 768px) {
    #projects {
        padding-inline: var(--padding-grid-inline);
    }

    .projects-list {
        gap: var(--gap-projects-list-md);
    }

    .projects-list .project-card:nth-child(1) {
        top: 84px;
    }

    .projects-list .project-card:nth-child(2) {
        top: 114px;
        /* +30 */
    }

    .projects-list .project-card:nth-child(3) {
        top: 144px;
    }

    .projects-list .project-card:nth-child(4) {
        top: 174px;
    }
}

@media (min-width: 1152px) {
    .projects-list {
        gap: var(--gap-projects-list-lg);
    }

    .projects-list .project-card:nth-child(1) {
        top: 84px;
    }

    .projects-list .project-card:nth-child(2) {
        top: 124px;
        /* +40 */
    }

    .projects-list .project-card:nth-child(3) {
        top: 164px;
    }

    .projects-list .project-card:nth-child(4) {
        top: 204px;
    }
}