.color__palette-inner {
    background: #f3f5f5;
    padding: 46px 16px;
    border-radius: 8px;
    display: grid;
    gap: 40px;
}

.color__palette-item-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0;
    width: 100%;
    margin: 0 auto;
}

.color__palette-subtitle {
    font-size: 14px;
    line-height: 22.6px;
    font-weight: 600;
    text-align: start;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.color__palette-colors {
    max-width: 760px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.item__container {
    width: 100%;
}

.item__color {
    width: 100%;
    aspect-ratio: 1 / 1;
    /* Mantiene proporción cuadrada */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cdcdcd;
}

.item__hexa {
    text-align: center;
    font-size: 11px;
    line-height: 17.8px;
    font-weight: 500;
}

.item__color .txt-dark {
    color: black;
}

.item__color .txt-light {
    color: white;
}

@media (min-width: 769px) {
    .color__palette-inner {
        padding: 64px 32px;
        gap: 32px;
        border-radius: 12px;
    }

    .color__palette-colors {
        gap: 24px;
    }

    .color__palette-subtitle {
        font-size: 16px;
        line-height: 25.9px;
    }

    .item__hexa {
        font-size: 12px;
        line-height: 16.2px;
    }
}

@media (min-width: 1024px) {

    .color__palette-inner {
        padding: 72px 64px;
        gap: 60px;
        border-radius: 16px;
    }

    .color__palette-item-group {
        max-width: none;
        /* Elimina la restricción de ancho máximo */
    }

    .color__palette-colors {
        grid-template-columns: repeat(5, 1fr);
        /* Genera 5 columnas */
        gap: 32px;
    }

    .color__palette-subtitle {
        font-size: 18px;
        line-height: 29.1px;
    }

    .item__hexa {
        font-size: 14px;
        line-height: 22.7px;
    }
}