:root {
    /* Gap para el grid */
    --gap--container-colors-sm: clamp(16px, 2vw, 20px);
    --gap--container-colors-md: clamp(20px, 2.5vw, 24px);
    --gap--container-colors-lg: clamp(24px, 3vw, 32px);

    --font-size-items-subtitle: clamp(0.75rem, 0.712vw + 0.59rem, 1.125rem);
    --line-height-items-subtitle: 1.4;

    --border-radius-items-colors: clamp(4px, 0.65vw + 1.5px, 16px);

    --font-size-items-label: 0.625rem;
    /* 10px */
    --line-height-items-label: 0.875rem;
    /* 14px */

    --padding-items-colors: clamp(8px, 0.65vw + 1px, 24px);

    /* Padding general para el grid */
    --padding-grid-block: clamp(24px, 2.5vw + 1rem, 48px);
    --padding-grid-inline: clamp(16px, 2vw + 0.5rem, 64px);

    --gap-vertical-mobile: 32px;
    --gap-vertical-tablet: 48px;
    --gap-vertical-desktop: 64px;

    --margin-bottom-subtitle: clamp(4px, 1vh, 12px);

    --color-border-item: #cdcdcd;

    --background-color-content-items: #f5f3f3;
}

html {
    font-size: 16px;
}

.color__palette-inner {
    width: 100%;
    background-color: var(--background-color-content-items);
    padding: var(--padding-grid-block) var(--padding-grid-inline);
    border-radius: 8px;
    display: grid;
    gap: var(--gap-vertical-mobile);
}

.color__palette-item-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0;
    width: 100%;
    margin: 0 auto;
}

.color__palette-subtitle {
    font-size: var(--font-size-items-subtitle);
    line-height: var(--line-height-items-subtitle);
    font-weight: 600;
    text-align: start;
    margin-bottom: var(--margin-bottom-subtitle);
    text-transform: uppercase;
    color: #686868;
}

.color__palette-colors {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap--container-colors-sm);
}

.item__container {
    width: 100%;
}

.item__color {
    width: 100%;
    aspect-ratio: 1 / 1;
    /* Mantiene proporción cuadrada */
    border-radius: var(--border-radius-items-colors);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border-item);
    padding: var(--padding-items-colors);
}

.item__color .item__hexa {
    text-align: center;
    font-size: var(--font-size-items-label);
    line-height: var(--line-height-items-label);
    font-weight: 500;
}

.item__color .txt-dark {
    color: black;
}

.item__color .txt-light {
    color: white;
}

@media (min-width: 769px) {
    :root {
        --font-size-items-label: 0.75rem;
        /* 12px */
        --line-height-items-label: 1.125rem;
        /* 18px */
    }

    .color__palette-inner {
        gap: var(--gap-vertical-tablet);
        border-radius: 12px;
    }

    .color__palette-colors {
        gap: var(--gap--container-colors-md);
    }
}

@media (min-width: 1024px) {
    :root {
        --font-size-items-label: 0.875rem;
        /* 14px */
        --line-height-items-label: 1.25rem;
        /* 20px */
    }

    .color__palette-inner {
        gap: var(--gap-vertical-desktop);
        border-radius: 16px;
    }

    .color__palette-item-group {
        max-width: none;
        /* Elimina la restricción de ancho máximo */
    }

    .color__palette-colors {
        grid-template-columns: repeat(5, 1fr);
        /* Genera 5 columnas */
        gap: var(--gap--container-colors-lg);
    }
}