:root {
    /* Colores */
    --color-bg-grid-design: #f3f0fa;
    --color-txt-tool-name-design: #333333;
    --color-txt-tool-category-design: #666666;

    --border-radius-logo-sm: 8px;
    --border-radius-logo-md: 12px;
    --border-radius-logo-lg: 16px;

    --grid-pattern-design: radial-gradient(circle, rgba(69, 33, 128, 0.3) 10%, transparent 10%) 0 0 / 18px 18px;

    /* Colors */
    --color-border-items-grid: #d4d4d4;
    --shadow-tool-default: 0 2px 8px 0 rgba(0 0 0 0.04);
    --shadow-tool-hover: 0 6px 24px 0 rgba(0 0 0 0.15);
}

.items-grid-design {
    background-color: var(--color-bg-grid-design);
    border: 1.5px solid var(--color-border-items-grid);
}

.items-grid-design::before {
    background: var(--grid-pattern-design);
}

.design-tool-container {
    align-items: start;
}

.design-tool-container img {
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-logo-sm);
    box-shadow: var(--shadow-tool-default);
}

.design-tool-container img:hover {
    box-shadow: var(--shadow-tool-hover);
}

.design-tool-container .tool-name {
    color: var(--color-txt-tool-name-design);
}

.design-tool-container .tool-category {
    color: var(--color-txt-tool-category-design);
    font-weight: 500;
}


@media (min-width: 768px) {

    .design-tool-container img {
        border-radius: var(--border-radius-logo-md);
    }

}

@media (min-width: 1152px) {

    .design-tool-container img {
        border-radius: var(--border-radius-logo-lg);
    }

}