:root{
    /* Colores */
  --color-button-primary-text: var(--color-primary);

}

/*button-principal, tiene estilado que le comparte al btn del navbar*/

.btn {
    transition: box-shadow 600ms ease-out;
    /* Transición para el efecto de sombra */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra inicial suave */
}

.btn:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    /* Sombra más pronunciada */
    transform: translateY(-2px);
    /* Efecto de elevación */
}

/* Opcional: Estilo cuando se presiona */
.btn:active {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    /* Sombra menos intensa */
    transform: translateY(0);
    /* Vuelve a su posición original */
}

.btn-cv {
    background-color: var(--color-button-primary-default);
    border: none;
    color: black;
    
    padding: clamp(0.25rem, 2vh, 0.8rem) clamp(1rem, 3vh, 1.2rem);

    font-family: var(--font-primary);
    font-size: var(--fs-base);
    font-weight: 500;
    /*no esta aplicando el peso no está disp.*/
    line-height: 25.9px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    /* Alinea el texto verticalmente */
    justify-content: center;
    /* Opcional, centra el texto horizontalmente */
    box-sizing: border-box;
    cursor: pointer;
    /* Cambio de cursor a mano */
    transition: background-color 0.3s ease-in-out;
}

.btn-cv:hover {
    background-color: var(--color-button-primary-hover);
}