:root {
    --animated-card-margin: clamp(1rem, 2vw, 2rem);

    --color-font-typing: #00FFCC;

    --fs-sm: clamp(0.62rem, 0.29vi + 0.55rem, 0.83rem);
    --fs-base: clamp(1rem, 0.69vi + 0.84rem, 1.5rem);
    --fs-md: clamp(1.62rem, 1.53vi + 1.27rem, 2.72rem);
    --fs-lg: clamp(2.62rem, 3.23vi + 1.9rem, 4.95rem);
    /*--fs-xl: clamp(4.24rem, 6.58vi + 2.76rem, 8.98rem);
    --fs-xxl: clamp(6.85rem, 13.12vi + 3.92rem, 16.31rem);
    --fs-xxxl: clamp(11.09rem, 25.7vi + 5.34rem, 29.63rem);*/
}

html {
    /*font-size: 62.5%;*/
    /* 1rem = 10px */
    font-size: 16px;
}

/* SUB-CONTAINER HERO */
.hero-section {
    height:100dvh;
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
    /* Centrado */
    background: #DBE6F6;
    background-image: url('https://images.unsplash.com/photo-1749838065282-32db54bed154?q=80&w=929&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    /* Ajusta el enfoque de la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    overflow: visible;
    /* Asegúrate de que el contenido no se corte */
}

.animated-card {
    position: absolute;
    left: var(--animated-card-margin);
    bottom: var(--animated-card-margin);

    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2.5vh, 2rem); /* espacio fluido entre h1 y el bloque de párrafo+botón */
    justify-content: center;

    width: clamp(21rem, 90%, 44rem); /* valor mínimo = móvil, medio = 90% viewport (fluido), máx = desktop */
    max-width: 708px;
    height: clamp(18rem, 60vh, 30rem);/*antes tenia la medida ideal en 50vh*/
    aspect-ratio: 3 / 2;

    padding: clamp(1.4rem, 2vh, 2rem)  clamp(1rem, 2vw, 1.8rem); /*16px*/
    box-sizing: border-box;

    background-color: #0000005d;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px 12px 12px 0;

    transform-origin: bottom left;
    transform: scale(0);
    animation: grow 1s ease-in-out forwards;

    overflow: visible;
}

/* Animación para el crecimiento del contenedor */
@keyframes grow {
    to {
        transform: scale(1);
    }
}

/* Texto principal */
.hero-title {
    font-size: clamp(1.8rem, 3vw, 3.5rem);
    line-height: clamp(2rem, 3.5vw, 4rem);
    word-spacing: normal;
    display: inline-block;
    /* inline-block Asegura que el texto respete su distribución natural */
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1799 1799' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 94% 95%, hsla(170, 88%, 68%, 1) 3%, transparent 76%), radial-gradient(circle at 89% 34%, hsla(263, 96%, 51%, 1) 1%, transparent 86%), radial-gradient(circle at 86% 50%, hsla(318, 80%, 65%, 1) 7%, transparent 76%), radial-gradient(circle at 89% 79%, hsla(248, 76%, 53%, 1) 7%, transparent 87%), radial-gradient(circle at 15% 44%, hsla(4, 74%, 80%, 1) 15%, transparent 81%), radial-gradient(circle at 99% 20%, hsla(75, 88%, 92%, 1) 1%, transparent 68%);
    background-blend-mode: overlay, normal, normal, normal, normal, normal, normal;
    /*background: linear-gradient(90deg, rgba(136, 131, 188, 1) 0%, rgba(186, 125, 183, 1) 25%, rgba(120, 208, 227, 1) 50%, rgba(120, 171, 247, 1) 75%, rgba(80, 96, 242, 1) 100%);*/
    -webkit-background-clip: text;
    /*Indica que no tiene compatibilidad*/
    -webkit-text-fill-color: transparent;
    opacity: 0;
    overflow-wrap: break-word;
    animation: fade-in-title 1s ease-in-out 0.5s forwards;
}

/* Animación para la aparición del texto */
@keyframes fade-in-title {
    to {
        opacity: 1;
    }
}

/* Texto secundario con efecto máquina de escribir */
.typewriter-effect {
    font-size: var(--fs-base);/**/
    font-size: clamp(1rem, 0.69vi + 0.84rem, 1.5rem);
    color: var(--color-font-typing);
    display: inline-block;
    white-space: normal;
    overflow: hidden;
    opacity: 0;
    animation: global-fade-in 1s ease-out 1.5s forwards;
    margin-bottom: clamp(0.5rem, 2.5vh, 1rem);
}

@keyframes global-fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación individual por palabra */
.typewriter-effect span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    animation: typing 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

/* Animación de entrada por palabra */
@keyframes typing {
    0% {
        opacity: 0;
        transform: translateY(20px);
        /* Efecto inicial desde abajo */
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Espaciado entre palabras */
.typewriter-effect span {
    margin-right: 12px;
}

/* Oculta texto para accesibilidad desde teclado*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


/* Media query para pantallas pequeñas */
@media (min-width: 768px) {
    .animated-card {
        border-radius: 16px 16px 16px 0;
    }
}

@media (min-width: 1152px) {
    .hero-section {
        max-width: none;
    }
}


@media (min-width: 1400px) {
    .animated-card {
        border-radius: 20px 20px 20px 0;
    }
}