:root {
    --fs-title: clamp(1.5rem, 1.2vw + 1rem, 3rem);
    /* 24px → ~25.2px → ~32.4px → 48px*/
    --line-height-title: clamp(2rem, 1.5vw + 1.5rem, 4rem);
    /*32px ~35.5px → ~44.5px → 64px*/

    --fs-subtitle: clamp(1.375rem, 1.3vw + 0.5rem, 2rem);
    /* 22px → 26px → 32px */
    --line-height-subtitle: clamp(1.75rem, 1.6vw + 0.5rem, 2.25rem);
    /* 28px → 36px */

    --fs-description: clamp(0.875rem, 1vw + 0.4rem, 1.25rem);
    /* 14px → 16px → 20px */
    --line-height-description: clamp(1.25rem, 1.5vw + 0.5rem, 1.8rem);

    --padding-txt: clamp(12px, 1.5vw, 20px) clamp(16px, 2vw, 32px);
}

/*Reset*/
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

/*Gral Container*/
.project-details {
    width: 100%;
    max-width: 736px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Core sections */
.section {
    /* background-color: #ece2c6;*/
    width: 100%;
    min-height: calc(100vh - var(--navbar-height-mobile));
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    box-sizing: border-box;
    position: relative;
    /* Added */
}

.section:first-of-type {
    justify-content: center;
}

.section__content {
    position: sticky;
    top: var(--navbar-height-mobile);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* Added space between elements */
    align-items: flex-start;
    /* Changed from center */
    height: auto;
}

.section:first-child {
    margin-top: 16px;
}

/* Allow last section to grow */
.section:nth-child(3),
.section:nth-child(4),
.section:nth-child(5) {
    height: auto;
    min-height: calc(100vh - var(--navbar-height-mobile));
}

.section__title {
    font-size: var(--fs-title);
    line-height: var(--line-height-title);
    font-weight: 900;
    /*antes 600*/
    text-align: center;
    padding: var(--padding-txt)
}

.section__title span {
    margin-right: 12px;
}

.section__subtitle {
    font-size: var(--fs-subtitle);
    line-height: var(--line-height-subtitle);
    padding: var(--padding-txt);
}

.section__description {
    font-family: var(--font-secondary);
    font-size: var(--fs-description);
    font-weight: 300;
    line-height: var(--line-height-description);
    padding: var(--padding-txt);
}

.section__description strong {
    font-weight: bold;
    color: var(--color-txt-subtititle-list);
}

u {
    text-decoration: underline;
}

/*Zoom Feature*/
.zoom-container {
    position: relative;
    width: 100%;
    height: 537px;
    overflow: hidden;
    border: 1px solid #ccc;
}

/* Add this new class if you need to overlay a PNG on top */

.zoom-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e5e5f7;
    opacity: 0.2;
    background-image: linear-gradient(#c9cbe5 1px, transparent 1px), linear-gradient(to right, #c9cbe5 1px, #e5e5f7 1px);
    background-size: 20px 20px;
    z-index: -1;

}

.zoom-container:hover {
    border-color: #007bff;
}

/* Para el cursor cuando se está desplazando */
.scrollable-container:active {
    cursor: grabbing;
}

.scrollable {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.zoomable-image {
    width: 200%;
    /* Cambia dinámicamente con el zoom */
    height: auto;
    aspect-ratio: auto;

}

.zoom-container .zoomable-image {
    animation: none !important;
    view-timeline-name: unset;
    view-timeline-axis: unset;
    animation-timeline: unset;
    animation-name: unset;
    animation-range: unset;
    animation-fill-mode: unset;
}

.controls {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    gap: 8px;
}

.controls button {
    width: 40px;
    height: 40px;
    padding: 12px;
    background: #323232;
    border: none;
    color: #f8f8f8;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .section:first-child {
        margin-top: 24px;
    }
}

@media (min-width: 1024px) {
    .section {
        min-height: calc(100vh - var(--navbar-height-desktop));
        padding: 32px;
    }

    .section__content {
        top: var(--navbar-height-desktop);
    }

    .section:first-child {
        margin-top: 32px;
    }
}