:root {
    /* Espaciados */
    --padding-grid-block: 4rem;
    --padding-item-block: 2rem;
    --padding-item-inline: 1.5rem;

    /* Medidas */
    --logo-size-sm: 85px;
    --logo-size-md: 95px;
    --logo-size-lg: 105px;

    --grid-gap-sm: 40px;
    --grid-gap-md: 55px;
    --grid-gap-lg: 70px;

    --border-radius-sm: 5px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;

    --fs-tool-name-sm: 14px;
    --fs-tool-name-md: 16px;
    --fs-tool-name-lg: 20px;

    --fs-tool-category-sm: 11px;
    --fs-tool-category-md: 14px;
    --fs-tool-category-lg: 16px;

    --gap-tool-container-sm: 4px;
    --gap-tool-container-md: 8px;
    --gap-tool-container-lg: 12px;

}

.tools-section {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Box model */
    width: 100%;
    max-width: var(--container-max-width-home-wrapper);
    height: auto;
    padding: var(--padding-grid-block) 0;
    box-sizing: border-box;
}

.tools-container {
    /* Box model */
    width: 100%;
    max-width: var(--container-max-width-home-content);
    margin: 0 auto;
    padding: var(--padding-item-block) var(--padding-item-inline);
}

.items-grid {
    /* Layout */
    display: grid;
    grid-template-columns: repeat(2, var(--logo-size-sm));
    justify-content: center;
    align-items: center;

    /* Box model */
    width: 100%;
    height: auto;
    gap: var(--grid-gap-sm);
    padding: var(--padding-item-block) var(--padding-item-inline);
    border-radius: var(--border-radius-sm);
    margin: 0 auto;

    position: relative;
}

.items-grid::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    z-index: 0;
}

.tool-container {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-tool-container-sm);
}

.tool-logo {
    /* Box Model */
    width: var(--logo-size-sm);
    height: var(--logo-size-sm);
    object-fit: contain;

    /*Effects*/
    transition: filter 0.3s ease, transform 0.3s ease;
    /* Position */
    z-index: 1;
}

.tool-logo:hover {
    transform: scale(1.1);
}

.tool-text,
.tool-name {
    /* Typography */
    font-family: var(--font-secondary);
    font-weight: 600;
}

.tool-name {
    font-size: var(--fs-tool-name-sm);

    /* Animation */
}

.tool-category {
    font-size: var(--fs-tool-category-sm);
}

@media (min-width: 768px) {
    .items-grid {
        grid-template-columns: repeat(3, var(--logo-size-md));
        gap: var(--grid-gap-md);
        height: 450px;
        border-radius: var(--border-radius-md);
    }

    .tool-container {
        gap: var(--gap-tool-container-md);
    }

    .tool-logo {
        width: var(--logo-size-md);
        height: var(--logo-size-md);
    }

    .tool-name {
        font-size: var(--fs-tool-name-md);
    }

    .tool-category {
        font-size: var(--fs-tool-category-lg);
    }
}

@media (min-width: 1024px) {
    .items-grid {
        grid-template-columns: repeat(auto-fit, var(--logo-size-lg));
        gap: var(--grid-gap-lg);
        height: 500px;
        border-radius: var(--border-radius-lg);
    }

    .tool-container {
        gap: var(--gap-tool-container-lg);
    }

    .tool-logo {
        width: var(--logo-size-lg);
        height: var(--logo-size-lg);
    }

    .tool-name {
        font-size: var(--fs-tool-name-lg);
    }

    .tool-category {
        font-size: var(--fs-tool-category-lg);
    }

}