/*Sections tools*/
#main-tools {
    padding: 32px 20px;
    display: flex;
    /*margin: 0 auto; */   /* Centra el contenido */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

.main-tools-container {
    max-width: 1152px;
}

.title-section {
  font-size: 32px;
  line-height: 51.8px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin-bottom: 32px;
}

.tools-container {
    width: 1120px;
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten en múltiples filas si es necesario */
    justify-content: center;
    /* Centra los logos */
    gap: 32px;
    /* Espacio entre logos */
    background-color: #f3f5f5;
    padding: 32px;
    border-radius: 5px;
}

.tools {
    text-align: center;
    /*Centra el contenido */
    max-width: 120px;
    /* Tamaño del contenedor de cada herramienta */
    display: flex;
    flex-direction: column;
    /* Apila los elementos (logo y texto) */
    align-items: center;
    gap: 16px;
    /* Separación entre el logo y el contenedor de texto */
}

.tool-logo {
    width: 120px;
    /* Ajusta el tamaño del logo */
    height: 120px;
    /* Mantiene la proporción */
    /* filter: grayscale(100%);*/
    /* Opcional: Aplica escala de grises */
    transition: filter 0.3s ease, transform 0.3s ease;
    /* Animación al hover */
    border-radius: 16px;
}

.tool-logo:hover {
    filter: grayscale(0);
    /* Quita el efecto de escala de grises al hover */
    transform: scale(1.1);
    /* Aumenta ligeramente el tamaño al hover */
}

/* Contenedor de texto */
.tool-text {
    display: flex;
    flex-direction: column;
    /* Buena separación entre líneas */
    text-align: center;
    /* Centra los textos */
    gap: 0px;
    /* Sin espacio adicional entre tool-name y tool-category */
}

.tool-name,
.tool-category {
    font-family: poppins;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}

.tool-category {
    color: #535353;
}


@media (max-width: 1152px) {

    #main-tools{
        max-width: 959px;
        width: 100%;
    }
    .title-section {
        font-size: 24px;
        line-height: 38.8px;
        margin-bottom: 24px;
    }
    .main-tools-container{
        width: 100%;
        padding: 0 20px;
    }
    .tools-container{
        width: 100%;
        gap: 20px;
        flex-wrap: nowrap;
/*debería ir gap, o bien justify-content, ver bien el tamaño*/
    }
    .tools{
        width: 110px;
        height: auto;
    }
    .tools img{
        width: 110px;
        height: auto;
    }
    .tool-text .tool-name{
        font-size: 20px;
        line-height: 32.4px;
    }
    .tool-text .tool-category{
        font-size: 18px;
        line-height: 29.1px;
    }
}


@media (max-width: 768px) {
    #main-tools{
        min-width: 358px;
        width: 100%;
    }
    .title-section{
        font-size: 20px;
        line-height: 32.4px;
        margin-bottom: 18px;
    }
    /*.main-tools-container{
        width: 100%;
        padding: 0 20px;
    }*//*reveer para este caso*/
    .tools-container{
        padding: 32px;
        width: 100%;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
/*debería ir gap, o bien justify-content, ver bien el tamaño*/
    }
    .tools{
        width: 85px;
        height: auto;
    }
    .tools img{
        width: 100%;
        height: auto;
    }
    .tool-text .tool-name{
        font-size: 16px;
        line-height: 25.9px;
    }
    .tool-text .tool-category{
        font-size: 14px;
        line-height: 22.7px;
    }

}