:root {
    /* Medidas */
    --icon-size-sm: 14px;
    --icon-size-md: 16px;
    --icon-size-lg: 24px;

    /* Gaps */
    --gap-sm: 4px;
    --gap-md: 6px;

    /* Margins */
    --margin-left-md: 20px;
    --margin-left-lg: 32px;

    /* Border radius */
    --radius-sm: 5px;
    --radius-md: 8px;

}

/* Container principal del CTA */
.cta {
    width: var(--nav-element-width-base);
    height: var(--nav-element-height-base);

    position: relative;
    z-index: 1;
    /* Por encima del pseudo-elemento */
    overflow: hidden;
    /* Evitar desbordes del pseudo-elemento */
    transition: var(--transition-default);
}

/* Efecto del borde animado */
.cta::before {
    content: '';
    position: absolute;
    inset: 0;
    /* Ajusta a los bordes del botón */
    padding: 2px;
    background: var(--gradient-cta);
    /* Gradiente animado */

    background-size: 200%;
    /* Para crear movimiento */
    z-index: -1;
    /* Detrás del contenido */
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    /* Elimina el efecto de borde */

    /* Animación */
    animation: borderMove 3s linear infinite;
}

/* Animación del gradiente */
@keyframes borderMove {
    0% {
        background-position: 0% 50%;
        /* Inicia en el borde izquierdo */
    }

    25% {
        background-position: 100% 50%;
        /* Mueve al borde derecho */
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 50% 100%;
        /* Regresa al inicio */
    }

    100% {
        background-position: 0% 50%;
        /* Inicia en el borde izquierdo */
    }
}

/* Enlace del CTA */
.cta__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 8px 16px;
    gap: var(--gap-sm);

    font-family: var(--font-secondary);
    font-size: var(--font-size-base);
    font-weight: 500;
    text-decoration: none;

    transition: color 0.3s;
}

.cta__button:hover {
    color: var(--link-color-hover);
}

.cta:hover::before {
    background-color: hsla(329, 98%, 66%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1799 1799' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 94% 95%, hsla(60.00000000000003, 88%, 68%, 0.72) 3%, transparent 76%), radial-gradient(circle at 89% 34%, hsla(153, 96%, 51%, 1) 1%, transparent 86%), radial-gradient(circle at 86% 50%, hsla(208, 80%, 65%, 1) 7%, transparent 76%), radial-gradient(circle at 89% 79%, hsla(138, 76%, 53%, 1) 7%, transparent 87%), radial-gradient(circle at 15% 44%, hsla(254, 74%, 80%, 1) 15%, transparent 81%), radial-gradient(circle at 99% 20%, hsla(325, 88%, 92%, 1) 1%, transparent 68%);
    background-blend-mode: overlay, normal, normal, normal, normal, normal, normal;
    /* Gradiente para el relleno */
    -webkit-mask: none;
    /* Elimina el efecto de borde */
    mask: none;
}

.cta__icon {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

@media (min-width: 768px) {
    .cta {
        justify-content: center;
        align-items: center;

        width: var(--nav-element-width-md);
        height: var(--nav-element-height-md);
        margin-left: var(--margin-left-md);

        flex-shrink: 0;
    }

    .cta__button {
        display: flex;
        padding: var(--nav-element-padding-md);
        gap: var(--gap-md);
        font-size: var(--font-size-md);
    }

    .cta__icon {
        width: var(--icon-size-md);
        height: var(--icon-size-md);
    }

    .cta::before {
        border-radius: var(--radius-sm);
    }

}

@media (min-width: 1024px) {
    .cta {
        width: var(--nav-element-width-lg);
        height: var(--nav-element-height-lg);

        margin-left: var(--margin-left-lg);
    }

    .cta__button {
        padding: var(--nav-element-padding-lg);
        font-size: var(--font-size-lg);
    }

    .cta__icon {
        width: var(--icon-size-lg);
        height: var(--icon-size-lg);
    }

    .cta::before {
        border-radius: var(--radius-md);
    }
}