:root {

    /* Borde */
    --border-item-nav: 1px solid #e0e0e0;
}
/* Navbar Links Styles */
.nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin: 0;
    padding-left: 0;

    /*opacity: 0;*/
    transition: opacity 0.3s ease;
}

.nav-links.active {
    opacity: 1;
}

.nav-links li {
    display: flex;
    padding-left: 0;
    /*dentro del estilado de items esta declarado el uso un valor para este y el elemento padre*/
}

.nav-links li a,
.cta__button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--nav-element-height-base);
    width: var(--nav-element-width-base);
    padding: var(--nav-element-padding-base);
    border-bottom: var(--border-item-nav);

    font-family: var(--font-secondary);
    font-size: var(--font-size-base);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

    color: inherit;
    transition: color var(--transition-default);
}

.nav-links li a:hover,
.cta__button:hover {
    color: var(--link-color-hover);
}

.icon-hidden {
    display: none;
}

@media (min-width: 768px) {

    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
    }

    .nav-links li {
        flex-grow: 0
    }

    .nav-links li a,
    .cta__button {
        display: inline-block;
        padding: var(--nav-element-padding-md);
        font-size: var(--font-size-md);
        text-align: center;
        border-bottom: none;
        height: var(--nav-element-height-md);
        width: var(--nav-element-width-md);
    }

}


@media (min-width: 1024px) {

    .nav-links li a,
    .cta__button {
        width: var(--nav-element-width-lg);
        height: var(--nav-element-height-lg);
        padding: var(--nav-element-padding-lg);
        font-size: var(--font-size-lg);
    }

}