:root {
    /* Backgrounds */
    --navbar-bg-transparent: rgba(255 255 255 / 0);
    --navbar-bg-glass: rgba(255 255 255 / .8);
}

.navbar {
    /* Layout */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Box model */
    box-sizing: border-box;
    width: 100%;
    height: var(--navbar-height-sm);
    padding: var(--navbar-padding-sm);

    color: var(--nav-link-color);

    /* Position */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    overflow: visible;

    transition: background-color var(--transition-default), color var(--transition-default);
}

.navbar.transparent {
    background-color: var(--navbar-bg-transparent);
    color: var(--nav-link-color);
}

.navbar:not(.transparent) {
    background-color: var(--navbar-bg-glass);
    color: var(--nav-link-inverse-color);
}

.navbar{
    background-color: inherit;
}

.nav-links li a,
.cta__button {
    color: inherit;
    transition: all var(--transition-default);
}
.logo a {
    font-family: var(--font-secondary);
    font-size: var(--logo-font-size);
    font-weight: 600;
    background: var(--gradient-logo);
    -webkit-background-clip: text;
    /* Funciona para WebKit */
    -webkit-text-fill-color: transparent;
    /* Hace que el fondo sea visible */
    color: transparent;
    /* Asegura compatibilidad con otros navegadores */
}

.menu-button {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 28px;
    aspect-ratio: 1 / 1;

    z-index: 1001;
}

@media (min-width: 768px) {
    
    .navbar {
        height: var(--navbar-height-md);
        padding: var(--navbar-padding-md);
    }

    .menu-button {
        display: none;
    }

}

@media (min-width: 1152px) {

    .navbar {
        height: var(--navbar-height-lg);
        padding: var(--navbar-padding-lg);
    }

}