/* Estilos base (mobile-first) */
.footer {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 32px;
    background: linear-gradient(180deg, #09092D, #000000);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 660px;
    align-items: center;
    gap: 32px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer__logo a {
    font-size: 80px;
    font-weight: bold;
    background: linear-gradient(90deg, #22FDAA 0%, #8C43FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

.footer__description {
    gap: 32px 16px;
    min-width: 358px;
    max-width: 660px;
    flex-direction: column;
    display: flex;
}

.footer__description-purpose {
    width: 100%;
    font-size: 48px;
    line-height: 77.7px;
    font-weight: 700;
    color: #00FF7F;
    /*text-align: center;*/
}

.footer__description-goals {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #F5F5F5;
    font-family: 'Poppins';
    gap: 24px;
}

.footer__description-goals p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 29.1px;
    font-weight: 600;
}

.description .highlight {
    display: block;
    font-style: italic;
    font-weight: 700;}

.footer__cta-button {
    font-family: 'Orbitron';
    font-size: 24px;
    line-height: 45.3px;
    padding: 12px 8px;
    background-color: white;
    border: 2.5px solid #00FF7F;
    color: black;
    border-radius: 5px;
    width: 100%;
    min-width: 358px;
    max-width: 460px;
    aspect-ratio: calc(358 / 73.3); /* Mantiene la proporción original */
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease-in;

}


.footer__cta-button:hover {
    background-color: #00FF7F;
}

.footer__cta-button svg {
    width: 40px;
    height: 40px;
    stroke: currentColor;
    transition: transform 0.3s ease-in;
}

.footer__cta-button:hover svg {
    transform: translateX(9px);
}

.footer__social-media {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 130px;
    align-items: center;
}

.footer__social-media-link {
    display: flex;
    width: 228px;
    height: 60px;
    gap: 16px;
}

.footer__social-link {
    display: inline-block;
    transition: transform 200ms ease-in-out;
}

.footer__social-link:hover {
    transform: translateY(-15px);
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

}
.footer__divider {
    color: #f5f5f5;
    display: block;
}

.footer__copy {
    font-family: 'Poppins';
    color: #f2f2f2;
    font-size: 16px;
    line-height: 19.4px;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px ) and ( max-width: 799px) {
    .footer__description{
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
}

@media(min-width: 800px){
    .footer__description{
        flex-direction: row;
        max-width: none;

    }
}

/* Tablets (>= 768px) */
@media (min-width: 768px) {
    .footer {
        padding: 32px;
    }
    .footer__container {
        max-width: none;
    }

    .footer__logo a {
        font-size: 86px;
    }

    .footer__description {
        gap: 24px;
    }

    .footer__description-purpose {
       /* width: 50%;*/
        font-size: 54px;
        line-height: 87.4px;
    }

    .footer__description-goals {
        min-width: 360px
    }

    .footer__description-goals p {
        font-size: 28px;
        line-height: 45.3px;
    }
    .footer__cta-button {
        max-width: 373px;
        min-width: 330px;
        height: 57px;
        padding: 12px 20px;
        font-size: 20px;
        line-height: 25.9px;
    }

    .footer__cta-button svg {
        width: 33px;
        height: 33px;
    }

    .footer__copy {
        font-size: 12px;
    }
}

/* Escritorio (>= 1152px) */
@media (min-width: 1152px) {
    .footer {
        padding: 24px 107px;
        gap: 64px;
    }

    .footer__container {
        gap: 64px;
    }

    .footer__logo a {
        font-size: 96px;
    }

    .footer__description-purpose {
        width: 60%;
        font-size: 76px;
        line-height: 98px;
    }

    .footer__cta-button {
        width: 417px;
    }
}
