:root {
    /* Footer - Typography */
    --footer-font-size-goals-sm: clamp(1.125rem, 0.8rem + 1.5vw, 1.5rem);
    --footer-line-height-goals-sm: clamp(1.64rem, 1.1rem + 2vw, 2.43rem);
    --footer-font-size-goals-md: clamp(1.125rem, 0.7rem + 1.2vw, 1.25rem);
    /* 1.25rem = 20px */
    --footer-line-height-goals-md: clamp(1.5rem, 1rem + 1.5vw, 1.75rem);
    /* 1.75rem = 28px */
    --footer-font-size-goals-lg: clamp(1.125rem, 0.5rem + 2vw, 1.5rem);
    /* 1.5rem = 24px */
    --footer-line-height-goals-lg: clamp(1.82rem, 0.5rem + 2.7vw, 2rem);

    /* Footer - Colors */
    --footer-color-purpose: var(--color-accent);
    --footer-color-divider: #9c9a9a;
    --footer-color-copy: #9c9a9a;
    --footer-color-goals: #e4e9e4;
    --footer-color-cta-bg: rgb(0 0 0);
    --footer-color-cta-border: var(--color-button-primary-default);
    --footer-color-cta-hover: var(--color-button-primary-hover);
    --footer-color-logo-gradient: var(--gradient-logo);
    --footer-color-copy-font: var(--font-secondary);
    --footer-color-bg-gradient: linear-gradient(180deg, #09092D, #000000);

    /* Footer - Measures */
    --footer-padding-sm: 32px 16px;
    --footer-padding-md: 32px 64px;
    --footer-padding-lg: 24px 98px;

    --footer-gap-sm: 32px;
    --footer-gap-md: 36px;
    --footer-gap-lg: 64px;

    --footer-container-gap-lg: 40px;

    --footer-logo-size-sm: 80px;
    --footer-logo-size-md: 86px;
    --footer-logo-size-lg: 96px;

    --footer-description-gap-sm: 20px;
    --footer-description-gap-md: 24px;

    --footer-purpose-size-sm: 48px;
    --footer-purpose-line-sm: 77.7px;
    --footer-purpose-size-md: 54px;
    --footer-purpose-line-md: 87.4px;
    --footer-purpose-size-lg: 76px;
    --footer-purpose-line-lg: 98px;

    --footer-goals-minwidth-md: 360px;

    --footer-goals-mb-sm: 20px;
    --footer-goals-mb-md: 24px;
    --footer-goals-mb-lg: 28px;

    --footer-width-cta: clamp(1.5rem, 1.1rem + 2vw, 2.1rem);
    --footer-height-cta: clamp(1.5rem, 1.1rem + 2vw, 2.1rem);

    --footer-cta-padding-sm: 8px 20px;
    --footer-cta-padding-md: 12px 24px;
    --footer-cta-padding-lg: 16px 32px;

    --footer-social-height-sm: 130px;
    --footer-social-height-md: 145px;
    --footer-social-height-lg: 160px;

    --footer-copy-size-sm: 11px;
    --footer-copy-size-md: 12.5px;
    --footer-copy-size-lg: 14px;
}

/* Estilos base (mobile-first) */
.footer {
    display: flex;
    flex-direction: column;
    padding: var(--footer-padding-sm);
    background: var(--footer-color-bg-gradient);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 660px;
    align-items: center;
    gap: var(--footer-gap-sm);
}

.footer__logo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer__logo a {
    font-size: var(--footer-logo-size-sm);
    font-weight: bold;
    background: var(--footer-color-logo-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

.footer__description {
    display: flex;
    flex-direction: column;
    gap: var(--footer-description-gap-sm);
    min-width: 358px;
    max-width: 660px;
}

.footer__description-purpose {
    width: 100%;
    font-size: var(--footer-purpose-size-sm);
    line-height: var(--footer-purpose-line-sm);
    font-weight: 700;
    color: var(--footer-color-purpose);
}

.footer__description-goals {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: var(--footer-font-size-goals-sm);
    line-height: var(--footer-line-height-goals-sm);
}

.footer__description-goals p {
    font-family: var(--font-secondary);
    font-weight: 400;
    color: var(--footer-color-goals);
    margin-bottom: var(--footer-goals-mb-sm)
}

.description .highlight {
    display: block;
    font-family: var(--font-primary);
    font-style: italic;
    font-weight: 600;
}

.footer__cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-color-cta-bg);
    color: var(--footer-color-cta-border);
    font-family: var(--font-primary);
    padding: var(--footer-cta-padding-sm);
    border: 2.5px solid var(--footer-color-cta-border);
    border-radius: 50px;
    min-width: 358px;
    max-width: 400px;
    aspect-ratio: calc(358 / 60);
    overflow: hidden;
    z-index: 0;
    transition: all 0.3s ease-out;
}

.footer__cta-button::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 15px #00FF7F55, 0 0 20px #00FF7F33 inset;
    opacity: 0;
    transform: scale(1.02);
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: -1;
}

.footer__cta-button:hover::after {
    opacity: 1;
}

.footer__cta-button:hover {
    color: var(--footer-color-cta-hover);
    box-shadow: 0 0 10px var(--footer-color-cta-hover);
    border-color: var(--footer-color-cta-hover);
}

.footer__cta-button svg {
    width: var(--footer-width-cta);
    height: var(--footer-height-cta);
    stroke: currentColor;
    transform: translateX(20px);
    transition: transform 0.3s ease-in;
}

.footer__cta-button:hover svg {
    transform: translateX(26px);
}

.footer__social-media {
    display: flex;
    width: 100%;
    justify-content: center;
    height: var(--footer-social-height-sm);
    align-items: end;
}

.footer__social-media-link {
    display: flex;
    width: 228px;
    height: 60px;
    gap: 16px;
}

.footer__social-link {
    display: inline-block;
    transition: transform 200ms ease-in-out;
}

.footer__social-link:hover {
    transform: translateY(-15px);
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.footer__divider {
    color: var(--footer-color-divider);
    display: block;
    width: 100%;
}

.footer__copy {
    font-family: var(--footer-color-copy-font);
    color: var(--footer-color-copy);
    font-size: var(--footer-copy-size-sm);
    line-height: 19.4px;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 799px) {
    .footer__description {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
}

/* Tablets (>= 768px) */
@media (min-width: 768px) {
    .footer {
        padding: var(--footer-padding-md);
    }

    .footer__container {
        max-width: none;
        gap: var(--footer-gap-md);
    }

    .footer__logo a {
        font-size: var(--footer-logo-size-md);
    }

    .footer__description {
        gap: var(--footer-description-gap-md);
    }

    .footer__description-purpose {
        display: flex;
        align-items: center;
        font-size: var(--footer-purpose-size-md);
        line-height: var(--footer-purpose-line-md);
    }

    .footer__description-goals {
        min-width: var(--footer-goals-minwidth-md);
    }

    .footer__description-goals p {
        font-size: var(--footer-font-size-goals-md);
        line-height: var(--footer-line-height-goals-md);
        margin-bottom: var(--footer-goals-mb-md);
    }

    .footer__cta-button {
        padding: var(--footer-cta-padding-md);
        font-size: var(--footer-font-size-goals-md);
        line-height: var(--footer-line-height-goals-md);
    }

    .footer__social-media {
        height: var(--footer-social-height-md);
    }

    .footer__copy {
        font-size: var(--footer-copy-size-md);
    }
}

@media(min-width: 970px) {
    .footer__description {
        flex-direction: row;
        max-width: none;
    }

    .footer__description-purpose {
        width: 55%;
    }

    .footer__description-goals {
        width: 45%;
    }
}

/* Escritorio (>= 1152px) */
@media (min-width: 1152px) {
    .footer {
        padding: var(--footer-padding-lg);
        gap: var(--footer-gap-lg);
    }

    .footer__container {
        gap: var(--footer-container-gap-lg);
    }

    .footer__logo a {
        font-size: var(--footer-logo-size-lg);
    }

    .footer__description-purpose {
        font-size: var(--footer-purpose-size-lg);
        line-height: var(--footer-purpose-line-lg);
    }

    .footer__description-goals p {
        font-size: var(--footer-font-size-goals-lg);
        line-height: var(--footer-line-height-goals-lg);
        margin-bottom: var(--footer-goals-mb-lg);
    }

    .footer__cta-button {
        font-size: var(--footer-font-size-goals-lg);
        line-height: var(--footer-line-height-goals-lg);
        padding: var(--footer-cta-padding-lg);
    }

    .footer__social-media {
        height: var(--footer-social-height-lg);
    }

    .footer__copy {
        font-size: var(--footer-copy-size-lg);
    }
}