:root {
  /* Gaps para el grid de ProcessDesign */
  --gap-sm-processdesign-grid: clamp(16px, 2vw, 24px);
  --gap-md-processdesign-grid: clamp(24px, 2.5vw, 32px);
  --gap-lg-processdesign-grid: clamp(32px, 3vw, 48px);

  /* Máximo ancho del wrapper de ProcessDesign */
  --max-width-wrapper-processdesign-grid: var(--container-max-width-about-wrapper);

  /* Máximo ancho del contenido de ProcessDesign */
  --max-width-content-processdesign-grid: var(--container-max-width-about-content);

  /* Padding para los items de ProcessDesign */
  --padding-block-item-processdesign-grid: var(--padding-block-about-item);
  --padding-inline-item-processdesign-grid: var(--padding-inline-about-item);

  /* Color de fondo para el grid de ProcessDesign */
  --background-color-processdesign-grid: #f3f5f5;

}

/*Reset*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

html {
  font-size: 16px;
}

/* Estilo para el contenedor general */

.grid-container {
  width: 100vw;
  /*background-color: bisque;*/
  max-width: var(--max-width-wrapper-processdesign-grid);
  margin: 0 auto;
  /* Centra el contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
}

strong {
  font-weight: 500;
}

.grid-item {
  max-width: var(--max-width-content-processdesign-grid);
  padding: var(--padding-block-item-processdesign-grid) 0;
}

/* Estilo para el grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap-sm-processdesign-grid);
  padding: var(--padding-block-item-processdesign-grid) var(--padding-inline-item-processdesign-grid);
  /*inicialmente tenía 46px 16px;*/
  background-color: var(--background-color-processdesign-grid);
  border-radius: 16px;
  background-size: cover;
  margin: 0 auto;
}

.grid.full-width-video {
  grid-template-columns: 1fr;
  /* solo una columna */
}
.grid.full-width-video figure {
  width: 100%;
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  /*Ajuste de rango de animación*/
  animation-fill-mode: both;
  /*anima hacia los dos sentidos*/
  aspect-ratio: auto;
}

/*La animacioón NO es SOPORTADA por Mozilla y safari*/
@keyframes show {
  from {
    opacity: 0;
    scale: 25%
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

@media (min-width: 769px) {
  .grid-item {
    padding-inline: var(--padding-inline-item-processdesign-grid);
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    /*padding: 64px 32px;*/
    gap: var(--gap-md-processdesign-grid);
  }

}

@media (min-width: 1024px) {
  .grid {
    /*padding: 72px 64px;*/
    gap: var(--gap-lg-processdesign-grid);
  }

}