:root {
  /* Gap para el grid */
  --gap-grid-sm: clamp(16px, 2vw, 24px);
  --gap-grid-md: clamp(24px, 2.5vw, 32px);
  --gap-grid-lg: clamp(32px, 3vw, 48px);

  --margin-bottom-subtitle: clamp(4px, 1vh, 12px);
}

/*Reset*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

html {
  font-size: 16px;
}

/* Estilo para el contenedor general */

.grid-container {
  width: 100vw;
  /*background-color: bisque;*/
  max-width: var(--container-max-width-about-wrapper);
  margin: 0 auto;
  /* Centra el contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
}
.design__process-title {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 0.6s cubic-bezier(.4,0,.2,1), transform 0.6s cubic-bezier(.4,0,.2,1);
}

.design__process-title.active {
  opacity: 1;
  transform: translateY(0);
}

strong {
  font-weight: 500;
}

.grid-item {
  max-width: var(--container-max-width-about-content);
  padding: var(--padding-block-about-item) 0;
}

/* Estilo para el grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap-grid-sm);
  padding: var(--padding-block-about-item) var(--padding-inline-about-item);
  /*inicialmente tenía 46px 16px;*/
  background-color: #f3f5f5;
  border-radius: 16px;
  background-size: cover;
  margin: 0 auto;
}

.grid.full-width-video {
  grid-template-columns: 1fr;
  /* solo una columna */
}

img {
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  /*Ajuste de rango de animación*/
  animation-fill-mode: both;
  /*anima hacia los dos sentidos*/
  aspect-ratio: auto;
}

/*La animacioón NO es SOPORTADA por Mozilla y safari*/
@keyframes show {
  from {
    opacity: 0;
    scale: 25%
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

@media (min-width: 769px) {
  .grid-item {
    padding-inline: var(--padding-inline-about-item);
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    /*padding: 64px 32px;*/
    gap: var(--gap-grid-md);
  }

}

@media (min-width: 1024px) {
  .grid {
    /*padding: 72px 64px;*/
    gap: var(--gap-grid-lg);
  }

}