:root {
  --color-border-grid: #e0e0e0;
  --background-color-card-grid: #ffffff;
  --border-radius-card-grid: clamp(4px, 1vh, 12px);
}

.grid__item {
  font-family: var(--font-secondary);
  border: 1px solid var(--color-border-grid);
  border-radius: var(--border-radius-card-grid);
  background-color: var(--background-color-card-grid);
  font-family: var(--font-secondary);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

.grid__item-img {
  width: 100%;
  aspect-ratio: auto;
  object-fit: cover;
}

.card__image--spaced {
  margin-bottom: clamp(4px, 1vh, 12px);
}

.card--with-content {
  padding-bottom: clamp(8px, 2vh, 16px);
}

.card--image-only {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.grid__item-subtitle {
  font-size: 14px;
  line-height: 22.6px;
  font-weight: bold;

  color: var(--color-txt-subtititle-list);

  margin-bottom: var(--margin-bottom-subtitle);
  padding-inline: 8px;
}

.grid__item-description {
  font-size: 12px;
  line-height: 16.2px;
  font-style: italic;
  padding-inline: 8px;
}

ul {
  padding-left: 1.625em;
  /* Ajusta el espacio general del bloque */
}

li {
  padding-left: 0.375em;
  /* Ajusta el contenido del texto en relación al punto */
}