@import url('./styles/style-navbar.css');
@import url('./styles/brand-colors.css');
@import url('./styles/section-titles.css');
@import url('./styles/gradients-animation.css');

/* Reset Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables Globales */
:root {
  /* 🎨 Tokens base: definición de la paleta general */
  --color-base-dark: #09092D;
  --color-base-medium: #4e4e52;
  --color-base-light: #d1d1d1;

  /* 🧩 Tokens semánticos: definidos según el rol que cumplen */
  --color-heading: var(--color-base-dark);
  --color-body: var(--color-base-medium);
  --color-light: var(--color-base-light);

  --color-scroll-thumb: var(--color-base-dark);
  --color-scroll-track: var(--color-base-light);

  /* Tokens base claros por página */
  --bg-home-light: #ffffff;
  --bg-about-light: #f1f1f1;

  /* Token semántico general */
  --bg-page: var(--bg-home-light);

  --scrollbar-width: clamp(10px, 0.75vw, 12px);

  --bg-test-inner: #cfdcff;

  /* Fonts */
  --font-primary-brand: 'Orbitron', 'Arial Black', Gadget, sans-serif;
  --font-primary: 'Bricolage Grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-secondary: 'Geist', 'Poppins', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;

  /* Layout */
  --navbar-height-sm: 64px;
  --navbar-height-md: 70px;
  --navbar-height-lg: 76px;

  /* Dimensions */
  --container-max-width-home-wrapper: clamp(736px, 100%, 2000px);
  --container-max-width-home-content: clamp(576px, 85vw, 1200px);

  /*
  --container-max-width-about-wrapper*/
  --container-max-width-about-content: clamp(576px, 70vw, 1100px);


  --padding-block-home-item: clamp(16px, 4vw, 48px);
  --padding-inline-home-item: clamp(16px, 5vw, 64px);

  --padding-block-about-item: clamp(24px, 2.5vw + 1rem, 48px);
  --padding-inline-about-item: clamp(16px, 2vw + 0.5rem, 64px);


}

/* Base Styles */
html {
  font-size: 16px;
}

body {
  scrollbar-color: var(--color-scroll-thumb) var(--color-scroll-track);
  scrollbar-width: thin;

  background-color: var(--bg-page);

  cursor: url('../src/img/cursor.png') 16 16, auto;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--color-scroll-track);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-thumb);
  border-radius: 50px;
  border: 2px solid var(--color-scroll-track);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-thumb);
  opacity: 0.8;
}

/* App Container */
.App {
  width: 100%;
  min-width: 390px;
  font-family: var(--font-primary);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  /*overflow-x: hidden;*/
  /*afecta al apilamiento de las card de proyectos*/
}